.todoProgress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--progress-container-bg);
  padding: 1rem 2rem;
}

.title {
  color: var(--text-white);
  font-size: 1.75rem;
  font-weight: 500;
}

.textMuted {
  color: var(--text-progress-muted);
}
