.progress {
  border: 0px;
  background-color: var(--progress-bg-color);
  overflow: hidden;

  div {
    height: 7.35px;
    transition: width 300ms ease-in-out;
    background-color: var(--text-white);
  }
}
