.addTodoInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  gap: 1rem;
  background-color: white;
  height: 100%;
  input {
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    &:disabled {
      color: rgba(black, 0.5);
    }
  }
}
