.layout {
  width: 720px;
  height: 620px;
  border-radius: 20px;
  background-color: var(--layout-bg-color);
}

.todoCard {
  padding: 3.875rem 6.375rem;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
